In [1]:
import pandas as pd

In [3]:
# Load the dataset
df = pd.read_csv('Ranking_History_business.govt.nz_12_28_2024.csv')

In [5]:
# Observe the dataset
df.head()

,TopLevel,SecondLevel,ThirdLevel,FourthLevel,FifthLevel,Keyword,StartRank,EndRank,RankChange,EndClicks,...,03/2024,04/2024,05/2024,06/2024,07/2024,08/2024,09/2024,10/2024,11/2024,12/2024
0,19,NaN,NaN,NaN,NaN,covid 19 nz,NaN,10,NaN,135,...,NaN,20.0,NaN,19.0,NaN,NaN,NaN,10.0,NaN,NaN
1,19,NaN,NaN,NaN,NaN,covid 19,NaN,19,NaN,48,...,NaN,22.0,NaN,15.0,NaN,8.0,NaN,19.0,NaN,NaN
2,19,19 update,NaN,NaN,NaN,covid 19 update,NaN,28,NaN,4,...,NaN,69.0,NaN,73.0,NaN,60.0,NaN,28.0,NaN,NaN
3,19,19 update,NaN,NaN,NaN,covid 19 update nz,NaN,14,NaN,0,...,NaN,46.0,NaN,27.0,NaN,20.0,NaN,14.0,NaN,NaN
4,19,19 update,NaN,NaN,NaN,covid 19 update today nz live stream,NaN,11,NaN,0,...,NaN,23.0,NaN,14.0,NaN,15.0,NaN,11.0,NaN,NaN

In [ ]:
df.info()

In [7]:
# Drop specified columns
df.drop(columns=['TopLevel', 'SecondLevel', 'ThirdLevel', 'FourthLevel', 'FifthLevel'], inplace=True)

In [9]:
# Fill NaN values in numeric columns with 0
numeric_columns_to_fill = ['StartRank', 'EndRank', 'RankChange', 'EndClicks', 'ClicksChange', 'SearchVolume']
df[numeric_columns_to_fill] = df[numeric_columns_to_fill].fillna(0)

In [11]:
# Identify missing values in all columns
missing_values = df.isnull().sum()

# Display missing values
print(missing_values)

# Display the first few rows of the cleaned dataset
df.head()

Keyword             0
StartRank           0
EndRank             0
RankChange          0
EndClicks           0
ClicksChange        0
SearchVolume        0
03/2021         15052
04/2021         13418
05/2021         14044
06/2021         14654
07/2021         10793
08/2021         13433
09/2021         11990
10/2021         12487
11/2021         12342
12/2021         14136
01/2022         11460
02/2022         14168
03/2022         13892
04/2022         12330
05/2022         12086
06/2022         12331
07/2022         11586
08/2022         11450
09/2022         11492
10/2022         11379
11/2022         11298
12/2022         11764
01/2023         11415
02/2023         10670
03/2023         11015
04/2023         11486
05/2023         11244
06/2023         10693
07/2023         11090
08/2023         10721
09/2023          9054
10/2023         10757
11/2023          8794
12/2023         10284
01/2024          9175
02/2024          9765
03/2024         12940
04/2024          9006
05/2024         11654
06/2024          9296
07/2024         10544
08/2024          9333
09/2024         10543
10/2024          7636
11/2024          9581
12/2024          9426
dtype: int64

,Keyword,StartRank,EndRank,RankChange,EndClicks,ClicksChange,SearchVolume,03/2021,04/2021,05/2021,...,03/2024,04/2024,05/2024,06/2024,07/2024,08/2024,09/2024,10/2024,11/2024,12/2024
0,covid 19 nz,0.0,10,0.0,135,135,7700.0,NaN,NaN,NaN,...,NaN,20.0,NaN,19.0,NaN,NaN,NaN,10.0,NaN,NaN
1,covid 19,0.0,19,0.0,48,48,5100.0,NaN,NaN,NaN,...,NaN,22.0,NaN,15.0,NaN,8.0,NaN,19.0,NaN,NaN
2,covid 19 update,0.0,28,0.0,4,4,630.0,NaN,NaN,NaN,...,NaN,69.0,NaN,73.0,NaN,60.0,NaN,28.0,NaN,NaN
3,covid 19 update nz,0.0,14,0.0,0,0,0.0,NaN,NaN,NaN,...,NaN,46.0,NaN,27.0,NaN,20.0,NaN,14.0,NaN,NaN
4,covid 19 update today nz live stream,0.0,11,0.0,0,0,0.0,NaN,NaN,NaN,...,NaN,23.0,NaN,14.0,NaN,15.0,NaN,11.0,NaN,NaN

In [ ]:
# Ignore missing values in the dates columns

In [13]:
# Check for duplicate values in 'Keyword' column
duplicates = df['Keyword'].duplicated().sum()
print(f'Number of duplicate Keywords: {duplicates}')

Number of duplicate Keywords: 4266

In [15]:
# Remove duplicate rows based on 'Keyword', keeping the first occurrence
df = df.drop_duplicates(subset='Keyword', keep='first')

In [17]:
# Drop more columns which are not revlevance to our analysis
drop_columns = ['StartRank', 'RankChange', 'ClicksChange']
df = df.drop(columns=drop_columns)

In [19]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 10786 entries, 0 to 15051
Data columns (total 50 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Keyword       10786 non-null  object
 1   EndRank       10786 non-null  int64
 2   EndClicks     10786 non-null  int64
 3   SearchVolume  10786 non-null  float64
 4   03/2021       0 non-null      float64
 5   04/2021       1127 non-null   float64
 6   05/2021       684 non-null    float64
 7   06/2021       269 non-null    float64
 8   07/2021       2981 non-null   float64
 9   08/2021       1125 non-null   float64
 10  09/2021       2158 non-null   float64
 11  10/2021       1754 non-null   float64
 12  11/2021       1911 non-null   float64
 13  12/2021       610 non-null    float64
 14  01/2022       2494 non-null   float64
 15  02/2022       636 non-null    float64
 16  03/2022       774 non-null    float64
 17  04/2022       1868 non-null   float64
 18  05/2022       2079 non-null   float64
 19  06/2022       1857 non-null   float64
 20  07/2022       2373 non-null   float64
 21  08/2022       2488 non-null   float64
 22  09/2022       2455 non-null   float64
 23  10/2022       2549 non-null   float64
 24  11/2022       2574 non-null   float64
 25  12/2022       2254 non-null   float64
 26  01/2023       2545 non-null   float64
 27  02/2023       2955 non-null   float64
 28  03/2023       2777 non-null   float64
 29  04/2023       2446 non-null   float64
 30  05/2023       2610 non-null   float64
 31  06/2023       3001 non-null   float64
 32  07/2023       2758 non-null   float64
 33  08/2023       2935 non-null   float64
 34  09/2023       4169 non-null   float64
 35  10/2023       2908 non-null   float64
 36  11/2023       4348 non-null   float64
 37  12/2023       3295 non-null   float64
 38  01/2024       3935 non-null   float64
 39  02/2024       3663 non-null   float64
 40  03/2024       1431 non-null   float64
 41  04/2024       4180 non-null   float64
 42  05/2024       2298 non-null   float64
 43  06/2024       4024 non-null   float64
 44  07/2024       3066 non-null   float64
 45  08/2024       3998 non-null   float64
 46  09/2024       3090 non-null   float64
 47  10/2024       5258 non-null   float64
 48  11/2024       3892 non-null   float64
 49  12/2024       4042 non-null   float64
dtypes: float64(47), int64(2), object(1)
memory usage: 4.2+ MB

In [ ]:
# Open the dataset from webscraping, to get the latest meta description data

In [21]:
df2=pd.read_csv('dataset_business_1228_cleaned_2.csv')

In [23]:
df2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3376 entries, 0 to 3375
Data columns (total 10 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   title               3376 non-null   object
 1   h1_tags             2033 non-null   object
 2   word_count          3376 non-null   int64
 3   keywords            3376 non-null   object
 4   description         3376 non-null   object
 5   snapshot_url        3376 non-null   object
 6   Timestamp           0 non-null      float64
 7   description_length  3376 non-null   int64
 8   keyword_count       3376 non-null   int64
 9   month year          3376 non-null   object
dtypes: float64(1), int64(3), object(6)
memory usage: 263.9+ KB

In [25]:
# Display column names to verify the correct name for 'Timestamp'
print(df2.columns)

Index(['title', 'h1_tags', 'word_count', 'keywords', 'description',
       'snapshot_url', 'Timestamp', 'description_length', 'keyword_count',
       'month year'],
      dtype='object')

In [33]:
# Ensure the correct column name is used for datetime conversion
# Replace 'Timestamp' with the correct column name from the printed columns
correct_timestamp_column = 'Timestamp'  # Update this if necessary
df2[correct_timestamp_column] = pd.to_datetime(df2[correct_timestamp_column], errors='coerce')

In [35]:
# Find the row with the latest Timestamp
latest_row = df2.loc[df2['Timestamp'].idxmax()]

ValueError: attempt to get argmax of an empty sequence

In [31]:
# Get the value in the 'keywords' column for the latest Timestamp
latest_description = latest_row['description']

NameError: name 'latest_row' is not defined

In [ ]:
print("Latest description:", latest_description)

In [ ]:
# Add a new column 'description' to the first dataset

In [ ]:
# Add a new column 'description'
df['description'] = latest_description

In [ ]:
df.head()

In [ ]:
# Perform TF-IDF analysis on 'Keyword' and 'description'

In [ ]:
from sklearn.feature_extraction.text import TfidfVectorizer
import numpy as np

In [ ]:
# Perform TF-IDF analysis on 'Keyword' and 'description'
df['Keyword'] = df['Keyword'].fillna('')
df['description'] = df['description'].fillna('')

tfidf_vectorizer = TfidfVectorizer()
tfidf_matrix = tfidf_vectorizer.fit_transform(df['Keyword'] + ' ' + df['description'])
df['TF-IDF_score'] = np.mean(tfidf_matrix.toarray(), axis=1)

In [ ]:
df.head()

In [ ]:
df.to_csv('rank_keywords_studylink_cleaned_score.csv', index=False)

In [ ]:
# Impute on the date data

In [1]:
import pandas as pd

In [9]:
df=pd.read_csv('rank_keywords_business_cleaned_score.csv')
df.head()

,Keyword,EndRank,EndClicks,SearchVolume,03/2021,04/2021,05/2021,06/2021,07/2021,08/2021,...,05/2024,06/2024,07/2024,08/2024,09/2024,10/2024,11/2024,12/2024,description,TF-IDF_score
0,covid 19 nz,10,135,7700.0,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,19.0,NaN,NaN,NaN,10.0,NaN,NaN,We package government information into handy t...,0.001287
1,covid 19,19,48,5100.0,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,15.0,NaN,8.0,NaN,19.0,NaN,NaN,We package government information into handy t...,0.001235
2,covid 19 update,28,4,630.0,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,73.0,NaN,60.0,NaN,28.0,NaN,NaN,We package government information into handy t...,0.001235
3,covid 19 update nz,14,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,27.0,NaN,20.0,NaN,14.0,NaN,NaN,We package government information into handy t...,0.001281
4,covid 19 update today nz live stream,11,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,14.0,NaN,15.0,NaN,11.0,NaN,NaN,We package government information into handy t...,0.001384

In [5]:
# Create a subset 'df_rank_change' by dropping specified columns
columns_to_drop = ['EndRank', 'EndClicks', 'SearchVolume', 'description', 'TF-IDF_score']
df_rank_change = df.drop(columns=columns_to_drop, errors='ignore')

In [7]:
# Display the first few rows of the subset to verify
df_rank_change.head()

,Keyword,03/2021,04/2021,05/2021,06/2021,07/2021,08/2021,09/2021,10/2021,11/2021,...,03/2024,04/2024,05/2024,06/2024,07/2024,08/2024,09/2024,10/2024,11/2024,12/2024
0,covid 19 nz,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,20.0,NaN,19.0,NaN,NaN,NaN,10.0,NaN,NaN
1,covid 19,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,22.0,NaN,15.0,NaN,8.0,NaN,19.0,NaN,NaN
2,covid 19 update,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,69.0,NaN,73.0,NaN,60.0,NaN,28.0,NaN,NaN
3,covid 19 update nz,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,46.0,NaN,27.0,NaN,20.0,NaN,14.0,NaN,NaN
4,covid 19 update today nz live stream,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,23.0,NaN,14.0,NaN,15.0,NaN,11.0,NaN,NaN

In [11]:
# Transpose the dataframe, making the rows become columns
df_rank_change = df_rank_change.transpose().reset_index()

In [13]:
df_rank_change.head()

,index,0,1,2,3,4,5,6,7,8,...,10776,10777,10778,10779,10780,10781,10782,10783,10784,10785
0,Keyword,covid 19 nz,covid 19,covid 19 update,covid 19 update nz,covid 19 update today nz live stream,acc,what is acc,acc meaning,acc calculator,...,worksafe job,worksafe new zealand,worksafe calculator,worksafe newsletter,worksafe notification,worksafe notifiable incidents,worksafe notifiable incident,notifiable incidents worksafe,notifiable incident worksafe,notify worksafe
1,03/2021,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,04/2021,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,26.0,NaN,NaN,21.0,38.0,NaN,52.0,23.0
3,05/2021,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,06/2021,NaN,NaN,NaN,NaN,NaN,67.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [15]:
df_rank_change.columns = df_rank_change.iloc[0]

In [17]:
# Drop the first row of the dataframe
df_rank_change = df_rank_change.iloc[1:].reset_index(drop=True)

In [19]:
df_rank_change.head()

,Keyword,covid 19 nz,covid 19,covid 19 update,covid 19 update nz,covid 19 update today nz live stream,acc,what is acc,acc meaning,acc calculator,...,worksafe job,worksafe new zealand,worksafe calculator,worksafe newsletter,worksafe notification,worksafe notifiable incidents,worksafe notifiable incident,notifiable incidents worksafe,notifiable incident worksafe,notify worksafe
0,03/2021,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,04/2021,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,26.0,NaN,NaN,21.0,38.0,NaN,52.0,23.0
2,05/2021,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,06/2021,NaN,NaN,NaN,NaN,NaN,67.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,07/2021,NaN,NaN,NaN,NaN,NaN,NaN,7.0,19.0,13.0,...,NaN,23.0,21.0,NaN,90.0,41.0,56.0,NaN,46.0,54.0

In [21]:
# Rename the first row's 'Keyword' column to 'Date'
df_rank_change.rename(columns={'Keyword': 'Date'}, inplace=True)

In [23]:
df_rank_change.head()

,Date,covid 19 nz,covid 19,covid 19 update,covid 19 update nz,covid 19 update today nz live stream,acc,what is acc,acc meaning,acc calculator,...,worksafe job,worksafe new zealand,worksafe calculator,worksafe newsletter,worksafe notification,worksafe notifiable incidents,worksafe notifiable incident,notifiable incidents worksafe,notifiable incident worksafe,notify worksafe
0,03/2021,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,04/2021,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,26.0,NaN,NaN,21.0,38.0,NaN,52.0,23.0
2,05/2021,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,06/2021,NaN,NaN,NaN,NaN,NaN,67.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,07/2021,NaN,NaN,NaN,NaN,NaN,NaN,7.0,19.0,13.0,...,NaN,23.0,21.0,NaN,90.0,41.0,56.0,NaN,46.0,54.0

In [25]:
# Convert 'Date' column to datetime with format 'mm/yyyy'
df_rank_change['Date'] = pd.to_datetime(df_rank_change['Date'], format='%m/%Y', errors='coerce').dt.strftime('%m/%Y')

In [27]:
# Ensure target columns are numeric
target_cols = df_rank_change.columns[1:]
df_rank_change[target_cols] = df_rank_change[target_cols].apply(pd.to_numeric, errors='coerce')

In [28]:
# Impute missing values in numeric columns using KNearestNeighbors
from sklearn.impute import KNNImputer
import numpy as np

In [31]:
imputer = KNNImputer(n_neighbors=5)
numeric_cols = df_rank_change.select_dtypes(include=np.number).columns
if not numeric_cols.empty:
    df_rank_change[numeric_cols] = imputer.fit_transform(df_rank_change[numeric_cols])

In [32]:
df_rank_change.head()

,Date,covid 19 nz,covid 19,covid 19 update,covid 19 update nz,covid 19 update today nz live stream,acc,what is acc,acc meaning,acc calculator,...,worksafe job,worksafe new zealand,worksafe calculator,worksafe newsletter,worksafe notification,worksafe notifiable incidents,worksafe notifiable incident,notifiable incidents worksafe,notifiable incident worksafe,notify worksafe
0,03/2021,15.8,18.857143,55.833333,28.375,17.875,21.75,12.272727,26.214286,11.45,...,26.0,27.956522,30.125,57.714286,66.181818,41.636364,49.863636,45.857143,49.736842,57.5
1,04/2021,15.8,19.400000,53.600000,25.600,15.800,42.60,12.400000,47.200000,12.00,...,26.0,23.400000,26.000,57.200000,67.200000,21.000000,38.000000,42.000000,52.000000,23.0
2,05/2021,15.8,18.200000,61.400000,29.400,18.800,28.20,7.000000,43.600000,13.60,...,26.0,23.400000,25.800,63.000000,70.200000,38.800000,51.000000,44.800000,47.800000,52.2
3,06/2021,15.8,18.800000,61.400000,30.000,17.600,67.00,8.800000,41.800000,12.00,...,26.0,33.800000,25.000,59.000000,68.600000,39.600000,40.000000,38.600000,53.200000,58.2
4,07/2021,15.8,17.200000,61.400000,26.800,16.600,35.40,7.000000,19.000000,13.00,...,26.0,23.000000,21.000,57.200000,90.000000,41.000000,56.000000,43.600000,46.000000,54.0

In [35]:
# Store the transposed data into a csv for more imputation later on
df_rank_change.to_csv('rank_keywords_business_cleaned_transposed.csv', index=False)

In [ ]:
###

In [39]:
# Import the transposed dataset again
df_rank_change = pd.read_csv('rank_keywords_business_cleaned_transposed.csv')

In [43]:
# Transpose the dataframe back to original shape
df_rank_change = df_rank_change.transpose()

In [45]:
df_rank_change.columns = df_rank_change.iloc[0]

In [47]:
df_rank_change = df_rank_change.iloc[1:].reset_index(drop=True)

In [49]:
df_rank_change.head()

Date,03/2021,04/2021,05/2021,06/2021,07/2021,08/2021,09/2021,10/2021,11/2021,12/2021,...,03/2024,04/2024,05/2024,06/2024,07/2024,08/2024,09/2024,10/2024,11/2024,12/2024
0,15.8,15.8,15.8,15.8,15.8,15.8,15.8,15.8,15.8,15.8,...,15.8,20.0,15.8,19.0,15.8,15.8,15.8,10.0,15.8,15.8
1,18.857143,19.4,18.2,18.8,17.2,19.4,18.2,17.2,17.2,21.0,...,16.6,22.0,21.8,15.0,18.2,8.0,18.8,19.0,18.2,16.6
2,55.833333,53.6,61.4,61.4,61.4,53.6,61.4,61.4,61.4,61.4,...,53.2,69.0,52.4,73.0,59.4,60.0,61.4,28.0,59.4,53.6
3,28.375,25.6,29.4,30.0,26.8,30.0,26.8,28.2,26.8,32.0,...,24.2,46.0,31.2,27.0,28.0,20.0,30.0,14.0,28.0,29.2
4,17.875,15.8,18.8,17.6,16.6,17.4,16.6,16.6,16.6,18.2,...,16.0,23.0,19.8,14.0,17.8,15.0,18.6,11.0,17.8,16.2

In [51]:
# Create a new dataframe 'df_imputed' by joining selected columns from 'df' to 'df_rank_change'
selected_columns = ['Keyword', 'EndRank', 'EndClicks', 'SearchVolume', 'description', 'TF-IDF_score']
df_imputed = pd.concat([df[selected_columns], df_rank_change], axis=1)

In [53]:
df_imputed.head()

,Keyword,EndRank,EndClicks,SearchVolume,description,TF-IDF_score,03/2021,04/2021,05/2021,06/2021,...,03/2024,04/2024,05/2024,06/2024,07/2024,08/2024,09/2024,10/2024,11/2024,12/2024
0,covid 19 nz,10,135,7700.0,We package government information into handy t...,0.001287,15.8,15.8,15.8,15.8,...,15.8,20.0,15.8,19.0,15.8,15.8,15.8,10.0,15.8,15.8
1,covid 19,19,48,5100.0,We package government information into handy t...,0.001235,18.857143,19.4,18.2,18.8,...,16.6,22.0,21.8,15.0,18.2,8.0,18.8,19.0,18.2,16.6
2,covid 19 update,28,4,630.0,We package government information into handy t...,0.001235,55.833333,53.6,61.4,61.4,...,53.2,69.0,52.4,73.0,59.4,60.0,61.4,28.0,59.4,53.6
3,covid 19 update nz,14,0,NaN,We package government information into handy t...,0.001281,28.375,25.6,29.4,30.0,...,24.2,46.0,31.2,27.0,28.0,20.0,30.0,14.0,28.0,29.2
4,covid 19 update today nz live stream,11,0,NaN,We package government information into handy t...,0.001384,17.875,15.8,18.8,17.6,...,16.0,23.0,19.8,14.0,17.8,15.0,18.6,11.0,17.8,16.2

In [55]:
# Store the imputed data to a new dataset, ready for import into dashboard
df_imputed.to_csv('rank_keywords_business_cleaned_imputed.csv', index=False)